<div class="row">
  <div class="col-sm-16">
    <h3><i class="glyphicon glyphicon-plus"></i> Add a New Weather Report</h3>
    <hr>
      <div class="row">
        <div class="col-md-12">
  			  <div class="well">Please complete all fields to add the new weather report.</div>
        </div>

        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-16">
      <hr>
      <!-- FORM GOES HERE -->

      </div>
    </div>
  </div>
