<div class="row">
  <div class="col-sm-16">
    <h3><i class="glyphicon glyphicon-plus"></i> Add a New Trip</h3>
    <hr>
      <div class="row">
        <div class="col-md-12">
  			  <div class="well">Please complete all fields to add the new trip.</div>
        </div>

        </div>
      </div>
  </div>

<form action="/trips" method="post">
  <label for="">&nbsp;&nbsp;Duration:&nbsp; </label>
  <input type="textfield" name="trip[duration]">
  <label for="">&nbsp;&nbsp;Starting Station:&nbsp; </label>
  <input type="textfield" name="trip[start_station]">
  <label for="">&nbsp;&nbsp;End Station:&nbsp; </label>
  <input type="textfield" name="trip[end_station]">
  <label for="">&nbsp;&nbsp;Zipcode:&nbsp; </label>
  <input type="textfield" name="trip[zip_code]"><br><br>
  <label for="">&nbsp;&nbsp;Bike ID:&nbsp; </label>
  <input type="textfield" name="trip[bike_id]">
  <label for="">&nbsp;&nbsp;Subsciption Type:&nbsp; </label>
  <input type="textfield" name="trip[subscription]">
  <label for="">&nbsp;&nbsp;Start Date:&nbsp; </label>
  <input type="textfield" name="trip[start_date]">
  <label for="">&nbsp;&nbsp;End Date:&nbsp; </label>
  <input type="textfield" name="trip[end_date]"><br><br>
  <input class="btn btn-info" type="submit" value="Create Trip" />
</form>
