<div class="row">
  <div class="col-sm-16">
    <h3><i class="glyphicon glyphicon-plus"></i> Add a New Station</h3>
    <hr>
      <div class="row">
        <div class="col-md-12">
  			  <div class="well">Please complete all fields to add the new station.</div>
        </div>

        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-16">
      <hr>
      <form action="/stations" method="post">
        <label for="">Name:&nbsp; </label>
        <input type="textfield" name="station[name]">
        <label for=""> &nbsp;&nbsp;Dock Count:&nbsp; </label>
        <input type="textfield" name="station[dock_count]">
        <label for=""> &nbsp;&nbsp;City ID:&nbsp; </label>
        <input type="textfield" name="station[city]">
        <label for=""> &nbsp;&nbsp;Installation Date:&nbsp; </label>
        <input type="textfield" name="station[installation_date]"><br><br>
        <input class="btn btn-info" type="submit" value="Create Station" />
      </form>

      </div>
    </div>
  </div>
